<form id="updatelocations" {{action 'updateLocations' on='submit'}}>
  <label for="location">Locations</label>
  {{input id='location' placeholder='Enter your location'
          value=model.account.location}}
  <button id="submit" type="submit" class="pull-right micro">Save</button>
</form>

<script type="text/javascript">
    $('#location').jeoCityAutoComplete();
</script>
