{{#each model as |resource|}}
    <li class="post text-left">
      <div class="row small-collapse">
        <div class="columns small-2 small-offset-1 text-center">
          {{#link-to 'account.show' resource.user.account.id}}
            {{libravatar-image email=resource.user.email secure=false
              alt=resource.user.account.display_name size=36 defaultImage='retro'}}
          {{/link-to}}
        </div>
        <div class="columns small-9">
          {{#link-to "resources.show" resource}}
            <h6 class="post_title">
              {{resource.title}}
            </h6>
          {{/link-to}}
          {{#link-to 'account.show' resource.user.account.id}}
            <p class="byline">
              <small>
                posted by {{resource.user.account.computed_display_name}}
              </small>
            </p>
          {{/link-to}}
        </div>
        <div class="columns small-1">
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          {{#link-to "resources.show" resource}}
          <p class="description">
            <blockquote style="padding-top: .2em !important;">
              {{cut-string resource.description length=80}}
            </blockquote>
          </p>
          {{/link-to}}
        </div>
      </div>
    </li>
{{/each}}
