<a class="close-reveal-modal" aria-label="Close">&#215;</a>
<div class="row">
  <div class="columns small-3 v-separator-right">
    first!
  </div>
  <div class="columns small-9">
    second
  </div>
</div>
