{{partial 'p-navbar'}}

<div class="row"  style="margin-top: 50px; min-height: 400px;">
  <div class="small-3 small-centered columns text-center">
    {{#link-to 'accounts.new'}}
      <button class="small secondary radius">Create your profile</button>
    {{/link-to}}
  </div>
</div>
