{{partial 'Search/p-navbar'}}
<div class="row">
  <div class="columns-small-12">
    <form action="">
      {{input class="text-center" placeholder="Search here" value=keywords}}
    </form>
  </div>
</div>
{{outlet}}
